<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<script th:src="@{/webjars/angularjs/1.3.0-beta.15/angular.js}">
</script>
<script th:src="@{/webjars/jquery/2.1.1/jquery.min.js}">
</script>
<script th:inline="javascript">
var app = angular.module("myApp", []);
var personUrl = [[@{/persons}]];
app.controller("DisplayPersons", [ "$scope", "$http",
		function($scope, $http) {
			$http({
				method : "GET",
				url : personUrl
			}).success(function(data) {
				$scope.persons = data;
			});
		} ]);
</script>
</head>
<body>
	<a href="#" th:href="@{/person}">Create Person Test (Hank's Validation Form)</a>
	<a href="#" th:href="@{/person1}">Create Person Test (Bootstrapvalidation's Validation Form [Reusing javax.validation Annotation config])</a>
</body>
</html>