<!DOCTYPE HTML>

<div class="container" xmlns:th="http://www.thymeleaf.org" ng-controller="CreatePerson">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<div class="page-header">
				<h2>Create Person Using bootstrapvalidator-0.5.0</h2>
				<!-- 				{{data}} -->
				<div id="facts_tbody"></div>
			</div>
			<form method="post" id="person_1" action="/person1" th:object="${person}" class="form-horizontal">
				<div th:if="${#fields.hasAnyErrors()}" class="form-group alert alert-danger" role="alert">
					<div class="alert alert-danger list-group-item" th:each="e : ${#fields.detailedErrors()}" th:text="${e}">
						<span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> | <span th:text="${e.message}">The error message</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-3 control-label">First Name</label>
					<div class="col-lg-5">
						<input type="text" class="form-control" th:field="*{firstName}" ng-model="data.firstName" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-3 control-label">Last Name</label>
					<div class="col-lg-5">
						<input type="text" class="form-control" th:field="*{lastName}" ng-model="data.lastName" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-3 control-label">age</label>
					<div class="col-lg-5">
						<input type="text" class="form-control" th:field="*{age}" ng-model="data.age" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-3 control-label"></label>
					<div class="col-lg-5">
						<button type="submit" class="btn btn-xs btn-default form-control">Save</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript" th:inline="javascript">
		/* <![CDATA[ */
		$(document).ready(function() {
			$("#person_1").bootstrapValidator({
				feedbackIcons : {
					valid : 'glyphicon glyphicon-ok',
					invalid : 'glyphicon glyphicon-remove',
					validating : 'glyphicon glyphicon-refresh'
				},
				fields : responseDataReal()

			})
		}).on('success.form.bv', function(e) {
            // Prevent form submission
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the BootstrapValidator instance
            var bv = $form.data('bootstrapValidator');

            // Use Ajax to submit form data
            $.post($form.attr('action'), $form.serialize(), function(result) {
                // ... Process the result ...
            }, 'json');
        });;
					
		function responseDataReal() {
			return  $.parseJSON([[${person.bootstrapValidator}]]);
		}
		/* ]]> */
	</script>
